.widget {
	@include flexbox;
	@include flex-direction(column);
	min-width: 32rem;
	background: $background-widget;
	border-radius: 3px;
}

.widget__exchange {
	min-width: 52rem;
	width: 32%;
	margin: 0 auto;
}

.general__widgets, .widget_cmc, .widget-twitter, .widget-fb {
	width: 24%;
	margin: 0 auto;
	min-height: 48rem;
}


.general__widgets {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(space-between);
	@include align-items(stretch);
}

.widget_infos, .widget__icons {
	padding: 0;
	margin: 0;
	width: 100%;
}

.widget_infos {
	margin-top: $space;
	@include flex(1);
}

.part1, .part2 {
	@include flexbox;
	@include flex-direction(column);
	padding: $space;
	width: 50%;
}

.widget__title{
	@include flexbox;
	@include justify-content(space-between);
	@include align-items(center);
	color: $light-font-color;
	font-weight: 900;
	font-size: $large-font-size;
	text-transform: uppercase;
	padding-left: $space;
	padding-right: $space;
	border-radius: 3px 3px 0 0;
}

.wigdet__title-name{
	margin-top: $space;
	margin-bottom: $space;
	@include align-self(flex-start);
}

.widget__title-updated{
	font-size: $small-font-size;
}

.widget__content {
	@include flexbox;
	@include flex-direction(column);
	padding: $space;
}

.widget__content__exchange {
	@include flex-direction(row);
	padding-top: 0;
}

.cmcData {
	@include flexbox;
	@include justify-content(space-between);
	@include align-items(flex-end);
	margin-top: $space / 3;
	font-size: $medium-font-size;
}

.cmcData__last__price {
	@include flex-direction(column);
	margin-bottom: 2 * $space;
}

.last__price__btc {
	font-size: 5rem;
	color: $cta-color;
}

.cmcData__info {
	font-weight: 700;
}

.trades, .orders {
	@include flexbox;
	@include flex-direction(column)
	padding-bottom: $space;
}

.trade {
	width: 100%;
	@include flexbox;
	@include justify-content(space-around);
	@include align-items(center);
}

.trade__data {
	width: 20%;
	text-align: center;
}

.trade__side {
	width: 10%;
}

.trade__time {
	width: 30%;
}

.trade__quantity {
	text-align: right;
	box-sizing: border-box;
	padding-right: 2 * $space;
}

.trade__quantity__title {
	padding-right: 3 * $space;
}

.trade__title, .ob__title {
	font-weight: 700;
	margin-top: $space;
	margin-bottom: $space / 3;
}

.last10 {
	text-align: center;
	padding-top: $space;
	width: 100%;
	border-top: 1px solid $light-bg;
}

.order__book {
	@include flexbox;
}

.ob__ask, .ob__bid {
	width: 50%;
	@include flexbox;
	@include flex-direction(column)
}

.one__bid, .one__ask {
	width: 100%;
	@include flexbox;
	@include justify-content(space-around);
}

.ob__bid {
	border-right: 1px solid $light-bg;
}

.ob__data {
	width: 33%;
	text-align: center;
}

.widget-fb, .widget-twitter {
	@include flexbox;
	@include flex-direction(column);
	min-width: 38rem;
	border-radius: 3px;
	background: $background-widget;
}
.timeline-Tweet-text {
	color: $font-color;
}

.widget__content__fb {
	width: 100%;
	background: white;
}

.timeline-viewport {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.widget_cmc, .widget_infos{
	@include align-self(flex-start);
}

.widget__content{
	ul {
		margin-left: 2 * $space;
	}
	li {
		font-size: $medium-font-size;
	}
}

.logo__life {
	width: 16rem;
}

.icons {
	width: 3.6rem;
	margin-left: $space;
}

.social__icons {
	@include flexbox;
	@include justify-content(center);
	margin-top: $space;
}

.logo__life, .logo__subtitle {
	@include align-self(center);
	text-align: center;
}

.logo__subtitle {
	font-style: italic;
	font-size: 1.8rem;
}

.exchange__last__price {
	color: $cta-color;
	font-size: $large-font-size;
}