.widget {
	@include flexbox;
	@include flex-direction(column);
	min-width: 32rem;
	background: $background-widget;
	border-radius: 3px;
	margin-top: $space;
	width: 24%;
	margin-left: $space;
}

.widget__exchange {
	width: 32%;
	min-width: 48rem;
}
.general__widgets {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(space-between);
}

.widget-fb, .widget-twitter {
	min-width: 38rem;
	border-radius: 3px;
}

.widget-fb {
	width: 38rem;
}

.widget_infos {
	@include flex(1);
}


.part1, .part2 {
	@include flexbox;
	@include flex-direction(column);
	padding: $space;
	width: 50%;
}

.widget__title{
	@include flexbox;
	@include justify-content(space-between);
	@include align-items(center);
	color: $light-font-color;
	font-weight: 900;
	font-size: $large-font-size;
	text-transform: uppercase;
	padding-left: $space;
	padding-right: $space;
	border-radius: 3px 3px 0 0;
}

.wigdet__title-name{
	padding-left: $space;
	padding-right: $space;
	color: $light-font-color;
	font-weight: 900;
	font-size: $large-font-size;
	text-transform: uppercase;
	margin-top: $space / 2;
	margin-bottom: $space / 2;
	@include align-self(flex-start);
}

.widget__title-updated{
	font-size: $small-font-size;
}



.widget__content {
	@include flexbox;
	@include flex-direction(column);
	padding: $space;
}

.widget__content__exchange {
	@include flex-direction(row);
	padding-top: 0;
}

.cmcData {
	@include flexbox;
	@include justify-content(space-between);
	@include align-items(flex-end);
	margin-top: $space / 1.5;
	font-size: $medium-font-size;
}


.cmcData__last__price {
	@include flex-direction(column);
	margin-bottom: 2 * $space;
}

.last__price__btc {
	font-size: 5rem;
	color: $cta-color;
}

.cmcData__info {
	font-weight: 700;
}

.widget__content{
	ul {
		margin-left: 2 * $space;
	}
	li {
		font-size: $medium-font-size;
	}
}

.logo__life {
	width: 14rem;
}

.icons {
	width: 3.6rem;
	margin-left: $space;
}

.social__icons {
	@include flexbox;
	@include justify-content(center);
	margin-top: $space;
}

.logo__life, .logo__subtitle {
	@include align-self(center);
	text-align: center;
}

.logo__subtitle {
	font-style: italic;
	font-size: 1.6rem;
}

.exchange__last__price {
	color: $cta-color;
	font-size: $large-font-size;
}

.trades, .orders {
	@include flexbox;
	@include flex-direction(column)
	padding-bottom: $space;
}

.trade {
	width: 100%;
	@include flexbox;
	@include justify-content(space-around);
	@include align-items(center);
}

.trade__data {
	width: 20%;
	text-align: center;
}

.trade__side {
	width: 10%;
}

.trade__time {
	width: 30%;
}

.trade__quantity {
	text-align: right;
	box-sizing: border-box;
	padding-right: 2 * $space;
}

.trade__quantity__title {
	padding-right: 3 * $space;
}

.trade__title, .ob__title {
	font-weight: 700;
	margin-top: $space;
	margin-bottom: $space / 3;
}

.last10 {
	text-align: center;
	padding-top: $space;
	width: 100%;
	border-top: 1px solid $light-bg;
}

.order__book {
	@include flexbox;
}

.ob__ask, .ob__bid {
	width: 50%;
	@include flexbox;
	@include flex-direction(column)
}

.one__bid, .one__ask {
	width: 100%;
	@include flexbox;
	@include justify-content(space-around);
}

.ob__bid {
	border-right: 1px solid $light-bg;
}

.ob__data {
	width: 33%;
	text-align: center;
}

@media screen and (max-width: 620px) {
	.wholesite {
		padding: 0;
	}

	.index__first, .index__second {
		@include flex-direction(column);
	}

	.widget {
		width: 95vw;
		min-width: 95vw;
		margin-left: auto;
		margin-right: auto;
	}

	.order__book {
		@include flex-direction(column);
	}

	.ob__bid, .ob__ask, .part1, .part2 {
		width: 100%;
	}

	.widget__content__exchange {
		@include flex-direction(column);
	}

	.ob__bid {
		border: 0;
	}

	.widget__title, .widget__content, .part1, .part2 {
		padding: 0;
		padding-left: $space / 4;
		padding-right: $space / 2;
	}

	.widget__content {
		padding-bottom: $space /2;
	}
}

.simu__entry {
	@include flexbox;
	@include justify-content(space-between);
	font-size: $base-font-size;
	input {
		background: transparent;
		color: $cta2-color;
		border: 0;
		font-style: italic;
		margin: 0;
		padding: 0;
		font-size: $base-font-size;
		width: 12rem;
	}
}

.simu__result {
	font-size: $base-font-size;
	width: 12rem;
}